<article id="tradestable">
  <h2 id="title">{{title}} Trading Platform</h2>
  <app-about id="tradestable"></app-about>
  <app-trade-input id = "tradeInputForm"></app-trade-input>

</article>

<article id="tradestable">
  
</article>