<section>
    <p id="welcome">Welcome to our trading platform. Please use the buttons below to navigate. </p>
    <button id="historybtn" class="btn btn-primary" (click)='getDataFromCode()'>View trading history</button>

    <table id="tradestable" [hidden] = "isShow">
        <th [hidden] = "isShow">
            Timestamp 
        </th>

        <th [hidden] = "isShow">
            Ticker 
        </th>

        <th [hidden] = "isShow">
            Side 
        </th>

        <th [hidden] = "isShow">
            Quantity 
        </th>

        <th [hidden] = "isShow">
            Price 
        </th>

        <th [hidden] = "isShow">
            Total 
        </th>

        <th [hidden] = "isShow">
            Status
        </th>

        <tr *ngFor="let record of data">
              <td class="orangetext">{{record['timeStamp']|date:'medium'}}</td>
              <td class="orangetext">{{record['stockTicker']}}</td>
              <!-- <td class="side">{{record['side']}}</td> -->
              <td style.color = "{{record['side'] == x ? '#00FF8A' : '#F24236'}}">{{record['side']}}</td>
              <td class="yellowtext">{{record['stockQuantity']}}</td>
              <td class="yellowtext">{{record['stockPrice'] | currency:'USD' }}</td>
              <td class="yellowtext">{{record['totalPrice'] | currency:'USD'}}</td>
              <td>{{record['tradeStatus']}}</td>
        </tr>
    </table>

    <!-- <pre>{{data[1] |json}}</pre> -->

</section>