#tradestable {
    background-color:#03244B;
    color:white;
    font-family: 'Montserrat', sans-serif;
    padding:0.5em;
}

#welcome {
    padding-left:0.5em;
}

#historybtn {
    margin:0.5em;   
    
}

th {
    color:#50D4FF;
    padding-left:1em;
}

td {
    padding:1.2em;
    font-size:0.8em;
}

.orangetext {
    color:#EAB464;
}

.yellowtext {
    color:#F5F749;
}

   