<div class="container">
    <form #userForm="ngForm" (ngSubmit)="submitForm()">
        <h4>Add Trade</h4>

        <div class="form-group">
            <label>Ticker</label>
            <input class="form-control" placeholder="Ticker" name="ticker" [(ngModel)] = "tradeModel.stockTicker">
        </div>

        <div class="form-group ">
            <label>Quantity</label>
            <input class="form-control" placeholder="Quantity" name="quantity" [(ngModel)] = "tradeModel.stockQuantity">
        </div>
        <div class="form-group ">
            <label>Price (USD)</label>
            <input class="form-control" placeholder="Price" name="price" [(ngModel)] = "tradeModel.stockPrice">
        </div>
        <div class="form-group ">
            <label>Side</label>
            <select class="custom-select"  name="side" [(ngModel)] = "tradeModel.side">
                <option *ngFor = 'let side of sideSelect'>{{side}}</option>
            </select>
        </div>

        <div class="form-group">
            <button class="btn btn-primary" id="submitBtn">SUBMIT</button>
        </div>
    </form>
</div>
